---
import ScrollText from "../../components/ScrollText.astro";
---

<div class="container">
  &#x201CRemind me to <ScrollText
    text={[
      "take out the trash",
      "renew my drivers license",
      "buy my wife flowers",
    ]}
  /> every <ScrollText
    text={[
      "every 3 days",
      "every year on October 31st",
      "every year August 21st",
    ]}
  />.&#x201D
</div>

<style>
  .container {
    margin: 0 auto;
    padding: 5rem 0;
    overflow: hidden;
    max-width: var(--max-width);
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    text-align: center;
  }
</style>
