# Postgres Database
DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres

# Web Push Notifications
# Generate these keys using `npx web-push generate-vapid-keys`
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=noreply@example.com

# Google OAuth Credentials
# Replace with your actual Client ID and Secret.
# You can generate a new Web Client here: https://console.cloud.google.com/auth/clients/create.
# Use the SERVER_URL as the Javascript origin and callback URL.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

