<div class="grid">
  <div class="tile">
    <h3>Customize</h3>
    <p>Lorem Ipsum</p>
  </div>
</div>

<style>
  h3 {
    font-size: 2rem;
    color: var(--core-color);
    font-weight: 800;
  }
  .tile {
    border: 1px solid #ffffff1a;
    border-radius: 1.8rem;
  }
</style>
