---
const year = new Date().getFullYear();
---

<footer>
  &copy; <span id="footer-year">{year}</span> BetterDo. <br />Site design,
  built, and maintained by Brandon Pereira.
</footer>

<style>
  footer {
    /* background: linear-gradient(45deg, $accent1, $accent2); */
    color: #fff;
    line-height: 5rem;
    text-align: center;
  }
</style>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
