---
import { Image } from "astro:assets";
import BetterDo from "../assets/betterdo.svg";
import Button from "../components/Button.astro";
import { LAUNCH_URL } from "../constants";
---

<header>
  <div class="brand">
    <Image class="logo" src={BetterDo} alt="BetterDo logo" />
    <h1 class="title">Better<span>Do.</span></h1>
  </div>
  <Button href={LAUNCH_URL}>Launch</Button>
</header>

<style>
  header {
    display: flex;
    padding: 2rem 1rem 2rem 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: var(--core-color);
  }
  .brand {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .title {
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    & :global(span) {
      font-weight: 700;
    }
  }
  .logo {
    width: 40px;
    height: 40px;
  }

  @media (min-width: 768px) {
    .brand {
      gap: 1rem;
    }
    .title {
      font-size: 2rem;
    }
    .logo {
      width: 60px;
      height: 60px;
    }
  }
</style>
