{
  "printWidth": 120,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
